<div>
  <h1><%= @restaurant.name %> (<%= @restaurant.category %>)</h1>
  <h3><%= @restaurant.address %></h3>
  <p><%= @restaurant.phone_number %></p>
</div>

<h2>Reviews</h2>
<ul>
<% @restaurant.reviews.each do |review| %>
  <div>
    <li>(<%=review.rating%> stars) <%=review.content%></li>
  </div>
<% end %>
</ul>
